.wrapper {
  border-radius: 4px;
  background-color: rgba(190, 190, 190, 0.3);
  height: 24px;
  width: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &_fill {
    color: red;
  }
}