.p-tabview .p-tabview-panels {
    border: 1px solid #ccc !important;
}
.filter-item__accardion {
    background-color: transparent !important;
    a {
        background-color: transparent !important;
    }
}
